{% extends 'base.twig' %}

{% block body %}
    <div class="container">
        <img src="https://dummyimage.com/740x480/8da6e6/ffffff" class="img-fluid" alt="...">
        <h1 class="mb-3 mt-3">Blog post title </h1>
        <div class="container mb-3">
            <div class="row">
                <span class="text-muted">Aziz Akhmedov | 22.10.2021</span>
            </div>
        </div>
        <div>
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
        </div>
    </div>
{% endblock %}