{% extends 'base.twig' %}

{% block body %}
    <div class="container">
        <img src="https://dummyimage.com/740x480/8da6e6/ffffff" class="" alt="...">
        <h1>Blog post title </h1>
    </div>
{% endblock %}